extends layout

block content
  div(id="header")
    img(src="img/logo.svg")
  div(id="container")
    div(id="col-left" class="split split-horizontal content")
      div(id="docs-container")
        iframe(src="swagger/index.html")          
    div(id="col-right" class="split split-horizontal")
      div(id="hot-container" class="split content")
        div(id="hot")
      div(id="log-container" class="split content")
        div(id="log" class="split")
  script.
    Split(['#col-left', '#col-right'], {
      gutterSize: 16,
      cursor: 'col-resize'
    });
    Split(['#hot-container', '#log-container'], {
      direction: 'vertical',
      sizes: [25, 75],
      gutterSize: 16,
      cursor: 'row-resize'
    });

    var container = document.getElementById('hot');
    
    var hot = new Handsontable(container, {
      dataSourceConnector: {
        controllerUrl: '/users',
        requestHeaders: { 'Content-Type': 'application/json' },
        onDataSend : function(data){
          if (data.request.body || data.response) {
            showLog(data);
          }
        }
      },
    });

block scripts
  script(src='/js/demo.js')
  script(src='/js/split.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://docs.handsontable.com/pro/1.18.0/bower_components/handsontable-pro/dist/handsontable.full.js')
  script(src='/js/jsonTreeViewer.js')
  script(src='/js/datasource-connector.js')
  

block css
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css")
  link(rel='stylesheet', href='https://docs.handsontable.com/pro/1.18.0/bower_components/handsontable-pro/dist/handsontable.min.css')
  link(href="/css/fontawesome-all.css", rel="stylesheet")
  link(href="/css/jsonTreeViewer.css", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet")
  link(href="/css/demo.css", rel="stylesheet")
